:root {
    --color-azul: #0056A4;
    --color-verde: #4CAF50;
    --color-rosa: #E91E63;
    --color-gris-claro: #F5F5F5;
    --color-gris-oscuro: #333333;
    --color-texto: #2C2825;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    
}

body.menu-open {
    overflow: hidden;
}
.navbar {
    background-color: #0056A4;
    width: 100%;
    padding: 3px 0;
    display: flex;
    flex: 0 0 auto;
    
}

.navbar-brand {
    color:#0056A4!important;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-link {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#F5F5F5  !important;
}

.navbar-nav .nav-link:hover {
    color: #d9e8f7 !important;
}

.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    align-items: center;
     width: 100%;
}

.btn-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #fff;
    color: var(--color-azul);

    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 700;

    padding: 8px 18px;
    border: 2px solid #fff;
    border-radius: 50px;

    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-comprar:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.btn-comprar img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    border: none;
    box-shadow: none;
    outline: none;
}

footer {
    background-color: var(--color-azul);
}

.footer-logo {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    width: 80px;
    height: auto;
}

.footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.icono-contacto {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(70%);
    margin-right: 8px;
}

.contacto-link {
    text-decoration: none;
    color: #F5F5F5;
}

.logo-vivero {
  width: 150px;
  height: auto;
}

.navbar-actions {
    position: relative;
    z-index: 1050;
}
.navbar-nav {
    align-items: center;
}
.navbar {
    position: relative;
    z-index: 1050;
}

.navbar-toggler {
    position: relative;
    z-index: 1100;
}
.navbar-collapse {
    z-index: 1000;
}
.navbar .container-fluid {
    align-items: center;
     flex-wrap: nowrap;
}

/*LETRAS DE CARRUSEL INICIO*/

#carouselExampleCaptions .carousel-caption h5 {
    color: #dfd6d6; 
    font-size: 2.0rem; 
    font-weight: lighter;
    -webkit-text-stroke: 2px #deedf0; 
}

#carouselExampleCaptions .carousel-caption p {
    color: #ffffff; 
    font-size: 1.5rem;
    -webkit-text-stroke: 1px #ffffff; 
}

/*SECCION QUIENES SOMOS - SECCION 1*/
.quienes_somos {
    margin-top: 200px;
    margin-bottom: 300px;
    background-color: #f2f2f2;
    padding: 0 15px 25px;
}

.titulo_seccion_quienes_somos {
    font-size: 50px;
    font-weight: 700;
    margin: 70px 15px 35px;
}

.semilla {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto 150px;
    display: block;
}

.contenedor_qs1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.texto_izquierda {
    width: 80px;
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.texto_derecha {
    width: 80px;
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.texto_intermedio_qs {
    font-weight: 700;
    font-size: 35px;
    margin: 0 auto 150px;
    max-width: 1000px;
}

/*CARRUSEL - GALERIA - SECCION 1 */

.galeria_qs {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    margin-bottom: 25px;
    scroll-behavior: smooth;
}

.galeria_qs img {
    width: min(350px, 80vw);
    height: auto;
    aspect-ratio: 350 / 340;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 100px;
    border-radius: 20px;
}

.detalle_qs {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 100px;
    max-width: 1000px;
}

.img_miembros {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 100px;
    display: block;
}

/*BOTON SECCION 1 */

.boton_contactanos_qs {
    display: inline-block;
    background-color: #0056A4;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

.boton_contactanos_qs:hover {
    opacity: 0.9;
}

.boton_contactanos_ig_qs {
    filter: brightness(0) invert(90%);
}

/*RESPONSIVE */
@media (max-width: 991.98px) {

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

         width: 100%;
        display: block;

        background-color: #0056A4;
        padding: 15px 0;

        z-index: 1000;
    }

    .quienes_somos {
        margin-top: 100px;
        margin-bottom: 120px;
    }

    .titulo_seccion_quienes_somos {
        font-size: 36px;
        text-align: center;
    }

    .contenedor_qs1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .texto_izquierda,
    .texto_derecha {
        font-size: 22px;
    }

    .texto_izquierda {
        align-self: flex-start;
        width: auto;
    }

    .texto_derecha {
        padding-right: 53px;
        margin-bottom: 55px;
        align-self: flex-end;
        margin-right: 53px;
    }

    .semilla {
        max-width: 90%;
        margin-bottom: 8px;
    }

    .texto_intermedio_qs {
        font-size: 24px;
        text-align: center;
        margin: 0 10px 60px;
    }

    .galeria_qs img {
        width: 80vw;
        max-width: 300px;
        margin-bottom: 50px;
    }

    .detalle_qs {
        font-size: 20px;
        margin: 0 10px 60px;
        text-align: justify;
    }

    .img_miembros {
        width: 100%;
        margin-bottom: 50px;
    }

    .boton_contactanos_qs {
        display: block;
        width: fit-content;
        margin: 0 auto 30px;
    }
}
